<!--<p>-->
<!--recipe-detail works!-->
<!--</p>-->

<!--049 Displaying Recipe Details-->
<!--<div class="row">-->
<!--<div class="col-xs-12">-->
<!--<img src="" alt="" class="img-responsive">-->
<!--</div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="col-xs-12">-->
<!--<h1>Recipe Name</h1>-->
<!--</div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="col-xs-12">-->
<!--<div class="btn-group">-->
<!--<button type="button" class="btn btn-primary dropdown-toggle">-->
<!--Manage Recipe<span class="caret"></span>-->
<!--</button>-->
<!--<ul class="dropdown-menu">-->
<!--<li><a href="#">To Shopping List</a></li>-->
<!--<li><a href="#">Edit Recipe</a></li>-->
<!--<li><a href="#">Delete Recipe</a></li>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="col-xs-12">-->
<!--Description-->
<!--</div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="col-xs-12">-->
<!--Ingredients-->
<!--</div>-->
<!--</div>-->

<!--079 Passing Data with Event and Property Binding Combined-->
<!--<div class="row">-->
<!--<div class="col-xs-12">-->
<!--<img [src]="recipe.imagePath" alt="{{recipe.name}}"-->
<!--class="img-responsive" style="max-height: 300px;">-->
<!--</div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="col-xs-12">-->
<!--<h1>{{recipe.name}}</h1>-->
<!--</div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="col-xs-12">-->
<!--<div class="btn-group">-->
<!--<button type="button" class="btn btn-primary dropdown-toggle">-->
<!--Manage Recipe<span class="caret"></span>-->
<!--</button>-->
<!--<ul class="dropdown-menu">-->
<!--<li><a href="#">To Shopping List</a></li>-->
<!--<li><a href="#">Edit Recipe</a></li>-->
<!--<li><a href="#">Delete Recipe</a></li>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="col-xs-12">-->
<!--{{recipe.description}}-->
<!--</div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="col-xs-12">-->
<!--Ingredients-->
<!--</div>-->
<!--</div>-->

<!--093 Building and Using a Dropdown Directive-->
<!--<div class="row">-->
<!--<div class="col-xs-12">-->
<!--<img [src]="recipe.imagePath" alt="{{recipe.name}}"-->
<!--class="img-responsive" style="max-height: 300px;">-->
<!--</div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="col-xs-12">-->
<!--<h1>{{recipe.name}}</h1>-->
<!--</div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="col-xs-12">-->
<!--<div class="btn-group" appDropdown>-->
<!--<button type="button" class="btn btn-primary dropdown-toggle">-->
<!--Manage Recipe<span class="caret"></span>-->
<!--</button>-->
<!--<ul class="dropdown-menu">-->
<!--<li><a href="#">To Shopping List</a></li>-->
<!--<li><a href="#">Edit Recipe</a></li>-->
<!--<li><a href="#">Delete Recipe</a></li>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="col-xs-12">-->
<!--{{recipe.description}}-->
<!--</div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="col-xs-12">-->
<!--Ingredients-->
<!--</div>-->
<!--</div>-->

<!--109 Adding Ingredients to Recipes-->
<!--<div class="row">-->
<!--<div class="col-xs-12">-->
<!--<img [src]="recipe.imagePath" alt="{{recipe.name}}"-->
<!--class="img-responsive" style="max-height: 300px;">-->
<!--</div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="col-xs-12">-->
<!--<h1>{{recipe.name}}</h1>-->
<!--</div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="col-xs-12">-->
<!--<div class="btn-group" appDropdown>-->
<!--<button type="button" class="btn btn-primary dropdown-toggle">-->
<!--Manage Recipe<span class="caret"></span>-->
<!--</button>-->
<!--<ul class="dropdown-menu">-->
<!--<li><a href="#">To Shopping List</a></li>-->
<!--<li><a href="#">Edit Recipe</a></li>-->
<!--<li><a href="#">Delete Recipe</a></li>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="col-xs-12">-->
<!--{{recipe.description}}-->
<!--</div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="col-xs-12">-->
<!--<ul class="list-group">-->
<!--<li class="list-group-item"-->
<!--*ngFor="let ingredient of recipe.ingredients">-->
<!--{{ingredient.name}} - {{ingredient.amount}}-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->

<!--110 Passing Ingredients from Recipes to the Shopping List via a Service-->
<!--<div class="row">-->
<!--<div class="col-xs-12">-->
<!--<img [src]="recipe.imagePath" alt="{{recipe.name}}"-->
<!--class="img-responsive" style="max-height: 300px;">-->
<!--</div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="col-xs-12">-->
<!--<h1>{{recipe.name}}</h1>-->
<!--</div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="col-xs-12">-->
<!--<div class="btn-group" appDropdown>-->
<!--<button type="button" class="btn btn-primary dropdown-toggle">-->
<!--Manage Recipe<span class="caret"></span>-->
<!--</button>-->
<!--<ul class="dropdown-menu">-->
<!--<li><a (click)="onAddToShoppingList()"-->
<!--style="cursor: pointer;">To Shopping List</a>-->
<!--</li>-->
<!--<li><a href="#">Edit Recipe</a></li>-->
<!--<li><a href="#">Delete Recipe</a></li>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="col-xs-12">-->
<!--{{recipe.description}}-->
<!--</div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="col-xs-12">-->
<!--<ul class="list-group">-->
<!--<li class="list-group-item"-->
<!--*ngFor="let ingredient of recipe.ingredients">-->
<!--{{ingredient.name}} - {{ingredient.amount}}-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->

<!--146 Fixing Page Reload Issues-->
<!--<div class="row">-->
<!--<div class="col-xs-12">-->
<!--<img [src]="recipe.imagePath" alt="{{recipe.name}}"-->
<!--class="img-responsive" style="max-height: 300px;">-->
<!--</div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="col-xs-12">-->
<!--<h1>{{recipe.name}}</h1>-->
<!--</div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="col-xs-12">-->
<!--<div class="btn-group" appDropdown>-->
<!--<button type="button" class="btn btn-primary dropdown-toggle">-->
<!--Manage Recipe<span class="caret"></span>-->
<!--</button>-->
<!--<ul class="dropdown-menu">-->
<!--<li><a (click)="onAddToShoppingList()"-->
<!--style="cursor: pointer;">To Shopping List</a>-->
<!--</li>-->
<!--<li><a style="cursor: pointer;">Edit Recipe</a></li>-->
<!--<li><a style="cursor: pointer;">Delete Recipe</a></li>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="col-xs-12">-->
<!--{{recipe.description}}-->
<!--</div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="col-xs-12">-->
<!--<ul class="list-group">-->
<!--<li class="list-group-item"-->
<!--*ngFor="let ingredient of recipe.ingredients">-->
<!--{{ingredient.name}} - {{ingredient.amount}}-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->

<!--154 Programmatic Navigation to the Edit Page-->
<div class="row">
  <div class="col-xs-12">
    <img [src]="recipe.imagePath" alt="{{recipe.name}}"
         class="img-responsive" style="max-height: 300px;">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{recipe.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" appDropdown>
      <button type="button" class="btn btn-primary dropdown-toggle">
        Manage Recipe<span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a (click)="onAddToShoppingList()"
               style="cursor: pointer;">To Shopping List</a>
        </li>
        <li><a (click)="onEditRecipe()"
               style="cursor: pointer;">Edit Recipe</a>
        </li>
        <li><a style="cursor: pointer;">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{recipe.description}}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item"
          *ngFor="let ingredient of recipe.ingredients">
        {{ingredient.name}} - {{ingredient.amount}}
      </li>
    </ul>
  </div>
</div>
