<!--<p>-->
<!--recipes works!-->
<!--</p>-->

<!--043 Using the Components-->
<!--<div class="row">-->
<!--<div class="col-md-5">-->
<!--<app-recipe-list></app-recipe-list>-->
<!--</div>-->
<!--<div class="col-md-7">-->
<!--<app-recipe-detail></app-recipe-detail>-->
<!--</div>-->
<!--</div>-->

<!--079 Passing Data with Event and Property Binding Combined-->
<!--<div class="row">-->
<!--<div class="col-md-5">-->
<!--<app-recipe-list-->
<!--(recipeWasSelected)="selectedRecipe = $event"></app-recipe-list>-->
<!--</div>-->
<!--<div class="col-md-7">-->
<!--<app-recipe-detail-->
<!--*ngIf="selectedRecipe; else infoText" [recipe]="selectedRecipe">-->
<!--</app-recipe-detail>-->
<!--<ng-template #infoText>-->
<!--<p>Please select a Recipe!</p>-->
<!--</ng-template>-->
<!--</div>-->
<!--</div>-->

<!--106 Using a Service for Cross-Component Communication-->
<!--<div class="row">-->
<!--<div class="col-md-5">-->
<!--<app-recipe-list></app-recipe-list>-->
<!--</div>-->
<!--<div class="col-md-7">-->
<!--<app-recipe-detail-->
<!--*ngIf="selectedRecipe; else infoText" [recipe]="selectedRecipe">-->
<!--</app-recipe-detail>-->
<!--<ng-template #infoText>-->
<!--<p>Please select a Recipe!</p>-->
<!--</ng-template>-->
<!--</div>-->
<!--</div>-->

<!--148 Adding Child Routing Together-->
<div class="row">
  <div class="col-md-5">
    <app-recipe-list></app-recipe-list>
  </div>
  <div class="col-md-7">
    <router-outlet></router-outlet>
  </div>
</div>
